:root
{
    --screen-width-multiplier: 85vw;
    --border-p: 1px solid #76f934;
    --border-code: 1px solid #3f3f3f;
    --code-bg-color: #2626262;

    --quote-color: #ffffff;
    --quote-font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

    --p-color: #e6e6e6;
    --p-font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

    --header-font: "Lucida Console", Monaco, monospace;
}

p
{
    width: var(--screen-width-multiplier);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align: inter-word;
    color: var(--p-color);
    font-family: var(--p-font);
}

a:link
{
    text-align: justify;
    text-align: inter-word;
    color: var(--p-color);
    font-family: var(--p-font);
    text-decoration: underline;
}

/*
 * Even if it's buggy, I keep it.
 * Maybe it will magicly works?
 *
 */
a:visited
{
    text-align: justify;
    text-align: inter-word;
    color: var(--p-color);
    font-family: var(--p-font);
    text-decoration: line-through underline overline;
}

nav
{
    width: var(--screen-width-multiplier);
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
}

li:before {
  content: "• ";
  color: white; /* or whatever color you prefer */
}

body
{
    background-color: #333333
}

/*
 * Code preformated
 *
 */
pre
{
    width: var(--screen-width-multiplier);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #76f934;
    color: #ffffff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #262626;
}

/*
 * Text inside Blockquote
 *
 */
blockquote>p
{
    border: var(--border-p);
    color: #ffffff;
    text-align: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-top: 4px;
    padding-bottom: 4px;
}

blockquote>p:before
{
    content: ">_   "; /* white space to add extra space */
}

/*
 * Quote inside p
 *
 */

p>code
{
    font-size: 1em;
    border: 1px solid #3f3f3f;
    border: var(--border-code);
    background-color: var(--code-bg-color);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*
 * TABLE STUFF
 *
 */

table
{
    width: var(--screen-width-multiplier);
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}

th
{
    background-color: #262626;
    color: var(--p-color);
    font-family: var(--p-font);
    font-style: bold;
    font-size: 1.5em;
}

td
{
    background-color: #3f3f3f;
    color: var(--p-color);
    font-family: var(--p-font);
}

/*
 * Image stuff
 *
 */

figure
{
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    margin: 1em 0;
}

figure img
{
    max-width: var(--screen-width-multiplier);
    margin-left: auto;
    margin-right: auto;
    display: block;
    vertical-align: center;
}

figcaption
{
    color: var(--p-color);
    font-family: var(--p-font);
    text-align: center;
    font-style: italic;
    max-width: var(--screen-width-multiplier);
    margin-left: auto;
    margin-right: auto;
}

/*
 * Tags with pandoc
 *
 */

.author
{
    text-align: right;
    font-style: italic;
}

.date
{
    text-align: right;
    font-style: italic;
}

#TOC
{
    padding-top: 14px;
    padding-bottom: 14px;
    border: 1px solid #76f934;
    border-style: solid none solid none;
}



/*
 * HEADING STUFF
 *
 * It's made to be tidy. Bonus point, they auto increment a value before the
 * name to know about which one we are talking about.
 *
 * source: http://2ality.com/2012/01/numbering-headingshtml.html
 *
 */

h1
{
    font-size: 3em;
    font-style: bold;
    font-family: var(--header-font);
    color: #76f934;
    counter-reset: h2counter;
}

h2
{
    font-size: 2em;
    font-style: bold;
    font-family: var(--header-font);
    color: #76f934;
    counter-reset: h3counter;
    padding-left: 2%
}

h2:before
{
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
}

h3
{
    font-size: 1em;
    font-style: bold;
    font-family: var(--header-font);
    color: #76f934;
    counter-reset: h4counter;
    padding-left: 4%
}

h3:before
{
    content: counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}

h4
{
    font-size: 1em;
    font-style: bold;
    font-family: var(--header-font);
    color: #76f934;
    counter-reset: h5counter;
    padding-left: 6%
}

h4:before
{
    content: counter(h4counter) ".\0000a0\0000a0";
    counter-increment: h4counter;
}

h5
{
    font-size: 1em;
    font-style: bold;
    font-family: var(--header-font);
    color: #76f934;
    counter-reset: h6counter;
    padding-left: 8%
}

h5:before
{
    content: counter(h5counter) ".\0000a0\0000a0";
    counter-increment: h5counter;
}

h6
{
    font-size: 1em;
    font-style: bold;
    font-family: var(--header-font);
    color: #76f934;
    padding-left: 10%
}

h6:before
{
    content: counter(h6counter) ".\0000a0\0000a0";
    counter-increment: h6counter;

